@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;400&display=swap');


/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: #363D45;
  color: #FFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.navbar {
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
}

.navbar .contact-info {
  display: flex;
  align-items: center;
}

.navbar .contact-info p {
  margin: 0;
  margin-right: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Ajusta según tus necesidades */
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px; /* Ajusta según tus necesidades */
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin-right: 10px; /* Ajusta según tus necesidades */
}

.icon {
  font-size: 20px; /* Ajusta según tus necesidades */
}


/* Estilo inicial para los iconos */
.fa-instagram, .fa-linkedin, .fa-facebook {
  color: #1B9DC2;
}


/* Estilo al pasar el mouse por encima de los iconos */
.fa-instagram:hover, .fa-linkedin:hover, .fa-facebook:hover {
  color: #363D45;
}


/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .social-icons {
    margin-top: 10px;
  }
}

.full-width-section {
  background-color: #ffffff;
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 100px;
  margin-left: 50px;
  /* Ajusta el tamaño del logo según tus necesidades */
}

/*estilos menu de navegacion*/
/* Estilos para la sección con el título y el logo */


.container {
  display: flex;
  align-items: center;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation ul li {
  margin-right: 10px;
}

.navigation ul li a {
  color: #363;
  text-decoration: none;
  margin: 6px;
  transition: color 0.3s; /* Transición suave para el cambio de color */
}




.navigation ul li a:hover {
  color: #1B9DC2;
  font-weight: bold;
}

/*seccion imagen portada*/

.main-section {
  background-color: #1B9DC2;
  background-image: radial-gradient(#1B9DC2 0.5px, transparent 0.5px), radial-gradient(#1B9DC2 0.5px, #1B9DC2 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  overflow: hidden;
}


/*Booking Section*/


.booking-section{
    background:url("./images/booking-bg.jpg") no-repeat;
background-size: cover;
padding: 100px 0px;
}
.form-control {
border-radius: 0;
height: 60px;
}

.form-group {
margin-bottom: 10px;
}

textarea {
height: 224px !important;
}

.form-col h4 {
text-transform: uppercase;
color: #FFF;
font-size: 18px;
font-weight: 400;
}

.form-col h3 {
font-size: 36px;
color: #FFF;
margin: 7px 0px 50px;
}


.footer {
    background-color: #333333;
    color: white;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-logo img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .footer-content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex-basis: calc(33.33% - 20%);
  }
  
  .footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-column p {
    margin-bottom: 5px;
  }
  
  .footer-column.footer-contact {
    flex-basis: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-column.footer-contact p {
    margin: 0;
  }
  
  .footer-column.footer-contact a {
    color: white;
    transition: color 0.3s;
  }
  
  .footer-column.footer-contact a:hover {
    color: #0053A6;
  }
  
  .footer-column.footer-contact .footer-contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-column.footer-contact .footer-contacts p {
    margin: 0;
  }